#aes {
  color: white;
  float: left;
  margin:0 auto;
}
body{
  background-image: url("https://67.media.tumblr.com/3bc6faac9df9fb1473648d9fb0d630fd/tumblr_od93hr02iR1veiiuwo1_500.gif");
   width: 900;
  margin:0 auto;}
h1{
  color:blue
}
