#aes {
  color: blue;
  float: left;
  margin:0 auto;
}
body{
  background-image:("http://orig05.deviantart.net/6ff8/f/2015/319/3/f/indie_artwork___red_grid_on_a_black_background_by_lissygudiya-d9grbpe.png")
   width: 900;
  margin:0 auto;}
