#aes {
  color: white;
  float: left;
  margin:0 auto;
}
body{
  background-image: url("https://67.media.tumblr.com/55c98b2fa7f018fd5f4c4009745f9671/tumblr_n1ektxfr841sey9vmo1_500.gif");
   width: 900;
  margin:0 auto;}
h1{
  color:blue
}
